.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --mui-palette-primary-main: #000000;
  --mui-palette-primary-dark: #000000;
  --mui-palette-primary-light: #000000;
  --mui-palette-primary-contrastText: #ffffff; /* Asegura que el texto siga siendo legible */
}

.MuiButton-root:hover,
.MuiButton-root:active,
.MuiButton-root.Mui-selected {
  background-color: black !important;
  color: white !important; /* Opcional, para mejor contraste */
}

.MuiIconButton-root:hover,
.MuiIconButton-root:active,
.Mui-selected {
  color: black !important;
}

.MuiTabs-indicator {
  background-color: black !important; /* Cambia la línea indicadora de tabs */
}

.MuiLink-root:hover {
  color: black !important; /* Si tienes enlaces que cambian de color en hover */
}


.Mui-selected {
  background-color: lightgrey !important; /* Si tienes enlaces que cambian de color en hover */
}

:root {
  --mui-palette-primary-main: #000000 !important;
  --mui-palette-primary-dark: #000000 !important;
  --mui-palette-primary-light: #000000 !important;
}



.css-1d9cypr-MuiStack-root{display: none!important;}
.css-3tkmg4{display: none!important;}